// Dashboard Styles

.dashboard {
    height: 148px;
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;

    div {
        float: left;
    }

    div:last-child {
       margin:0px auto;
       width: max-content; 
    }

    ul {
        list-style: none;
        display: inline-flex;

        li {
            margin: 5px 10px;
            padding-right: 10px;
            font-size: 1.2em;
            border-right: 1px solid $iconnect-gray;
            
            a {
                color: $iconnect-gray;
                cursor: pointer;
            }
        }
        
        li:last-child {
            border: none;
        }
    }

    button {
        font-size: 1em;
        font-weight: 400;
    }
}

.filter {

    margin-top: 40px;
    margin-bottom: 70px;

    form {

        div.form-group:first-child {
            margin-left: 30px;
        }

        div.form-group:last-child {
            margin-top: 20px;
            margin-left: 50px;

            a {
                padding: 10px;
            }
        }
    }

    label {
        font-size: 20px;
    }

    select {
        height: 35px;
        line-height: 35px;
        font-size: 18px;
        border-radius: 0px;
        outline: 1px inset black;
        outline-offset:-1px;
        // -webkit-appearance: none;
    }
}

table.my-students {

    margin-bottom: 50px;

    thead {
        background: $iconnect-lightgray;
    }

    a {
        font-size: 14px;
        margin: 0px 10px;
    }

    a.btn-yellow {
        color: $iconnect-gray;
    }
}